body{
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    flex: 1;
    padding: 20px;
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(6px); 
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-brand .brand-text {
  font-size: 1.5rem; 
  font-weight: 600;
}

.navbar-brand {
    display: flex;
    align-items: center; 
    gap: 0.5rem;         
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.brand-text {
    font-size: 1.2rem; 
    font-weight: bold;
    line-height: 1;
}

.navbar-icon {
  height: 30px;      
  width: auto;       
}

.navbar-icon img {
  height: 40px;      
  width: auto;        
}

.navbar .d-flex a {
    color: #ffffff;       
    text-decoration: none; 
    font-weight: 500;      
}

.navbar .d-flex a:hover {
    color: #ffffff;      
    text-decoration: none; 
}

.navbar .d-flex a:first-child::after {
    content: "|";          /* barra separadora */
    margin: 0 10px;        /* espacio a los lados */
    color: #ccc;           /* color de la barra */
}
.navbar .dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    content: "▼"; /* flecha hacia abajo */
    font-size: 0.6rem;
}

@media (max-width: 576px) {
  .navbar-icon img{
    height: 30px;   
  }
}
@media (max-width: 768px) {
    .navbar-nav-wrapper {
        width: 100%;
    }
    .navbar-nav {
        flex-direction: column; /* apilar los links */
        align-items: flex-start;
        margin-bottom: 15px; /* alineación a la izquierda */
    }

    .navbar-nav,
    .navbar .d-flex {
        align-items: center;
        text-align: center;
    }
}

.carousel-item img {
    height: auto;   
    width: 100%;     
    max-height: 650px;
    object-fit: cover;   
}

/*Footer*/
.footer-simple{
    background-color: #141a41;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
}

.footer-top{
    margin-bottom: 10px;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
    padding: 0;
}

.footer-slogan{
    font-size: 1.2em;
    font-weight: bold;
}

.footer-bottom{
    border-top: 1px solid #444;
    padding-top: 15px;
}

.footer-nav a{
    color: #ccc; 
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-nav a:hover{
    color:#ffffff;
    text-decoration: underline;
}

.footer-copy{
    margin: 10px;
    font-size: 0.9em;
    color: #aaa;
    padding: 0;
} 