body {
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.custom-navbar {
  background-color: #4a6a9a;
}

.card {
  border-radius: 15px;
  background: #fff;
}

.btn-primary {
  background-color: #0d47a1;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1565c0;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 200px;
}

.producto-card {
  background: #fff;
  border-radius: 10px;
  width: 600px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-card h3 {
  margin: 10px 0;
}


.slider {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  transition: opacity 0.10s ease-in-out;
}

.slider img.active {
  display: block;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.slider .prev {
  left: 10px;
}

.slider .next {
  right: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #0d47a1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

/*Footer*/
.footer-simple{
    background-color: #141a41;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
}

.footer-top{
    margin-bottom: 10px;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
    padding: 0;
}

.footer-slogan{
    font-size: 1.2em;
    font-weight: bold;
}

.footer-bottom{
    border-top: 1px solid #444;
    padding-top: 15px;
}

.footer-nav a{
    color: #ccc; 
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-nav a:hover{
    color:#ffffff;
    text-decoration: underline;
}

.footer-copy{
    margin: 10px;
    font-size: 0.9em;
    color: #aaa;
    padding: 0;
} 

